# ASSIGNMENT FOR THE WEEK ON FUNCTIONS.


Define a function called greet that takes one parameter student_name with a default value of "Guest".

Inside the function, print a greeting message using the provided student_name.

Call the greet function twice:

Once without passing any arguments.

Once by passing the name "Alice" as an argument.

In [1]:
def greet(student_name="Guest"):
    print(f'Hello {student_name}')

In [2]:
greet()

Hello Guest

In [3]:
greet("Alice")

Hello Alice

Define a function called multiply that takes two parameters, num1 and num2.

Inside the function, calculate the product of num1 and num2.

Return the result.

Call the multiply function with different pairs of numbers as arguments and print the results.

In [4]:
def multiply(num1, num2):
    result = num1 * num2
    return result

In [5]:
multiply(2,4)

8

In [6]:
multiply(3,8)

24

Define a function called check_even_odd that takes one parameter, number.

Inside the function, check if the number is even or odd.

Print a message indicating whether the number is even or odd.

Call the check_even_odd function with different numbers as arguments and observe the output.

In [7]:
def check_even_odd(number):
    if number%2 !=0:
        print(f'The number you shared: {number} is odd')
    else:
        print(f'The number you shared: {number} is even')

In [8]:
check_even_odd(9)

The number you shared: 9 is odd

In [9]:
check_even_odd(10)

The number you shared: 10 is even

Define a function called celsius_to_fahrenheit that takes one parameter, celsius.

Inside the function, convert the temperature from Celsius to Fahrenheit using the formula: (celsius * 9/5) + 32.

Return the converted temperature.

Call the celsius_to_fahrenheit function with different Celsius temperatures as arguments and print the converted temperatures.

In [10]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [11]:
celsius_to_fahrenheit(32)

89.6

In [12]:
celsius_to_fahrenheit(50)

122.0

In [13]:
celsius_to_fahrenheit(-4)

24.8

Define a function called sum_list that takes one parameter, num_list, which is a list of numbers.

Inside the function, calculate the sum of all numbers in the num_list.

Return the sum.

Call the sum_list function with different lists of numbers as arguments and print the sums.

In [14]:
def sum_list(num_list):
    sumofallnumber = sum(num_list)
    return(sumofallnumber)

In [15]:
sum_list([1,2,3,4,5,6,7,8,9,10])

55

In [16]:
sum_list([10,20,30])

60

## OR:

In [17]:
def sum_list2(num_list):
    sumresult = 0
    for i in num_list:
        sumresult += i
    return sumresult

In [18]:
sum_list2([1,2,3,4,5,6,7,8,9,10])

55

In [19]:
sum_list2([10,20,30])

60

Define a function called factorial that takes one parameter, n.

Inside the function, calculate the factorial of n using recursion.

Return the factorial.

Call the factorial function with different values of n and print the results.

In [20]:
def factorial(n):
    result = 0
    if n != 0 and n != 1:
        result = n * factorial(n-1)
        n -=1
    else:
        result = 1
    return result

In [21]:
factorial(7)

5040

In [22]:
factorial(5)

120

In [23]:
factorial(1)

1

In [24]:
factorial(0)

1

Create a simple calculator which can perform basic arithmetic operations 

like addition, subtraction, multiplication, or division 

depending upon the user input.

In [25]:
def calculator():
    
    print("""
    
    This is a simple calculator:
    
    Enter the first value you want to calculate.
    
    Then, Enter the second value you want to calculate.
    
    Then, choose the operation you want to perform:
    
    + for addition,
    
    - for subtraction,
    
    * for multiplication,
    
    / for division
    
    Thankyou for using this calculator. 
    
    Made with ❤️.
    
    
    """)
    num1 = int(input('Kindly, Enter your first value: '))
    num2 = int(input('Kindly, Enter your second value: '))
    operator = input('Kindly, Enter which operation you like to perform: ')
    
    if operator == '+':
        
        result = num1 + num2
        
    elif operator == '-':
        
        result = num1 - num2
    
    elif operator == '*':
        
        result = num1 * num2
    
    elif operator == '/':
        
        result = num1 / num2
    
    else:
        
        result = 'Invalid Operation Performed.'
    
    return f'Your answer : {result}'

In [26]:
calculator()

    This is a simple calculator:

    Enter the first value you want to calculate.

    Then, Enter the second value you want to calculate.

    Then, choose the operation you want to perform:

    + for addition,

    - for subtraction,

    * for multiplication,

    / for division

    Thankyou for using this calculator.

    Made with ❤️.



Kindly, Enter your first value: 4
Kindly, Enter your second value: 7
Kindly, Enter which operation you like to perform: /

'Your answer : 0.5714285714285714'

In [27]:
# Done