# Poshem Technology Data Analyst Bootcamp

## Assignment # 01

1- What is the difference between a Data Analyst, Data Scientist and a Data Engineer?

**Data Engineers**:

The Data Engineer is in charge of ensuring data integrity and establishing the data infrastructure.

**Data Analysts**:

Data Analysts are in charge of analysing data, extracting insights, and visualising it. As a result, it can assist companies make decisions.

**Data Scientists**:
    
Data Scientists are in charge of analysing data and identifying patterns in it using machine learning to create a predictive model that allows businesses to make future decisions.

2- What are some skills and tools that one needs to become a better Data Analyst ( list 3-4)

These are some skills and tools that one needs to become a better Data Analyst:
    
1. Python
2. SQL
3. Excel
4. PowerBI
5. Presentation and Communication skill

3- What are 3 rules regarding variables in Python ?

These are 3 rules regarding variables in Python:
    
1. It starts with a letter or underscore. Example: 'name', '_value'
2. Cannot use special characters at the start. Example: '@name', '-height'
3. Cannot start with a number. Example: '1name', '2_4height'
4. Variables are case-sensitive. 'Name' and 'name' would be different variables. So, be careful on this.

4-Mention 4 Python datatypes you were taught in class

These are the 4 Python datatypes you were taught in class:

1. String
2. Integer
3. Float
4. Boolean

5- declare 3 separate variables that accept 3 different numbers print ONLY the 3rd variable ( ensure to insert comments in your code and save it also

In [1]:
number1 = input('Enter your first number: ')
number2 = input('Enter your second number: ')
number3 = input('Enter your third number: ')
print(f'The third number you entered is {number3}')

Enter your first number: 1
Enter your second number: 2
Enter your third number: 3
The third number you entered is 3

6- Add Variable 1 and Variable 2 then Display the result

In [2]:
number1 = int(input('Enter your first number: '))
number2 = int(input('Enter your second number: '))

result = number1 + number2
print(f' The result is found to be {result}')

Enter your first number: 2
Enter your second number: 3
 The result is found to be 5

7-From the videos watched regarding Operators, what is a Modulus and write a code that gives an example of Modulus ( ask questions on the platform if you need help)

Modulus helps us to deal with the remainder. Represented by "%" 

Example: If we had 5%2. the remainder or our answer is one.

In [3]:
print(f'So, The reminder we had for 5%2 is: {5%2}')

So, The reminder we had for 5%2 is: 1

8- How would you explain floor division to a 5 year old

Floor Division helps us to cut down or round-off the value to the nearest whole number obtained from the division. Mostly, used while using float values. Represented by "//"

Example: If we had 10//3. We will get 3.3333 before the round-off. After rounding-off 3.333, Our answer will be 3.

In [4]:
print(f'The answer we get before using floor division: {10/3}')
print('---------------------------------------------------------')
print(f'Now, The answer we get after using floor division: {10//3}')

The answer we get before using floor division: 3.3333333333333335
---------------------------------------------------------
Now, The answer we get after using floor division: 3

9- What is the difference between a Python List and a Tuple

Lists are mutable and can be changed. Meanwhile, Tuples aren't. List are represented by "[]". Meanwhile, tuples are represented by "()".

In [5]:
list1 = ['Abdullah', 'Jafri'] # This is a list
tuple1 = ('Abdullah', 'Jafri') # This is a tuple

In [6]:
print('List: ')
print('---------------------------------------------------------')
print('Before Changing: ')
print(list1) 
print('---------------------------------------------------------')
print('After Changing: ')
list1[1] = 'Jaffrey'
print(list1)

List:
---------------------------------------------------------
Before Changing:
['Abdullah', 'Jafri']
---------------------------------------------------------
After Changing:
['Abdullah', 'Jaffrey']

In [7]:
print('Tuple: ')
print('---------------------------------------------------------')
print('Before Changing: ')
print(tuple1) 
print('---------------------------------------------------------')
print('After Changing: ')
tuple1[1] = 'Jaffrey'
print(tuple1)

Tuple:
---------------------------------------------------------
Before Changing:
('Abdullah', 'Jafri')
---------------------------------------------------------
After Changing:

TypeError: 'tuple' object does not support item assignment

10- Write a List that accepts the 5 different student names ( choose any 5 names of your choice)

In [8]:
List_of_students = ['Abdullah', 'Noah', 'Salis', 'Mikail','Jibrail']

In [9]:
List_of_students

['Abdullah', 'Noah', 'Salis', 'Mikail', 'Jibrail']

11- Delete the first 2 names in the List you just created and display the result.

In [10]:
del List_of_students[:2]
List_of_students

['Salis', 'Mikail', 'Jibrail']

In [11]:
12. Add thes word to the list AFTER deleting the first 2 names and print result - ( Watch, Videos, Practice)

SyntaxError: invalid syntax (855464073.py, line 1)

In [12]:
print('Before inserting: ')
print(List_of_students)
print('---------------------------------------------------------')
print('After inserting the values: ')
List_of_students.insert(0,['Watch','Video','Practice'])
print(List_of_students)

Before inserting:
['Salis', 'Mikail', 'Jibrail']
---------------------------------------------------------
After inserting the values:
[['Watch', 'Video', 'Practice'], 'Salis', 'Mikail', 'Jibrail']

13- Research the difference between the Append, Insert and  Extend function in python - give coded examples of all 3 - ( www.w3schools.com could help).

**Append**: 

Append method is use to add a value in the list.

Example:

a = [1,2,3]

a.append(4)

Note:

1. It will add the value in the last position.
2. Append method may deprecated in future.

Note: Deprecated means a functionality that still exists but its use is not recommended and it will no longer available in future.

In [13]:
a = [1,2,3]
print('---------------------------------------------------------')
print('Before using appending method: ')
print(a)
print('---------------------------------------------------------')
print('After using appending method: ')
a.append(4)
print(a)

---------------------------------------------------------
Before using appending method:
[1, 2, 3]
---------------------------------------------------------
After using appending method:
[1, 2, 3, 4]

**Insert**: 
    
We use insert method when we want to save our value at a certain position. 

Example: 

a =  [0,2,3] 

print(a) 

a.insert(1, 1) 

print(a)

In [14]:
a = [0,2,3]
print('---------------------------------------------------------')
print('Before using insert method: ')
print(a)
print('---------------------------------------------------------')
print('After using insert method: ')
a.insert(1, 1) # This will save value of 1 in 1 as label, second by order index. 
print(a)

---------------------------------------------------------
Before using insert method:
[0, 2, 3]
---------------------------------------------------------
After using insert method:
[0, 1, 2, 3]

**Extend**:
    
We use extend to add the value of ones list/tuple to another. 

Example:

a = [1,2,3]

b = [4,5,6]

a.extend(b)

In [15]:
a = [1,2,3]
b = [4,5,6]

In [16]:
print('Before using extend method: ')
print(a)
print('---------------------------------------------------------')
print('After using extend method: ')
a.extend(b)
print(a)

Before using extend method:
[1, 2, 3]
---------------------------------------------------------
After using extend method:
[1, 2, 3, 4, 5, 6]

14-  Post a question on the platform asking your cohort members if anyone needs any help

Sure, I will ask when needed. Till now, thank you.

15- On a scale of 1-10, how difficult did you think this assignment was? 

I will rate it a 6. But I loved it really much.

In [18]:
# Done.